/* Breakpoints */

/* Breakpoints - end */

/* Mixins */

/* Mixins - end */

/* Variables */

:root {
  --container: 1168px;
  --wrapper: 870px;
  --inner-container: 682px;
  --text-size: 16px;
  --h1-size: 62px;
  --h2-size: 46px;
  --h3-size: 34px;
  --h4-size: 32px;
  --h5-size: 24px;
  --subtitle-size: 24px;
  --indent-4xl: 130px;
  --indent-3xl: 108px;
  --indent-2xl: 70px;
  --indent-xl: 60px;
  --indent-l: 50px;
  --indent-m: 40px;
  --indent-s: 30px;
  --indent-xs: 20px;
  --indent-2xs: 12px;
  --indent-3xs: 10px;
  --header-top-height: 87px;
}

/* Variables - end */

/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Fonts - end */

/* General */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #5e5e5e;
  font: normal 400 var(--text-size)/1.5 "Roboto", sans-serif;
}

body.is-fixed {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

h1,
.h1 {
  margin: 0 0 var(--indent-xl) 0;
  color: #212121;
  font: normal 900 var(--h1-size)/1.2 "Montserrat", sans-serif;
}

h2,
.h2 {
  margin: var(--indent-xl) 0 var(--indent-l) 0;
  color: #212121;
  font: normal 900 var(--h2-size)/1.2 "Montserrat", sans-serif;
}

h3,
.h3 {
  margin: var(--indent-l) 0 var(--indent-s) 0;
  color: #212121;
  font: normal 900 var(--h3-size)/1.3 "Montserrat", sans-serif;
}

h4,
.h4 {
  margin: var(--indent-s) 0;
  color: #212121;
  font: normal 700 var(--h4-size)/1.3 "Montserrat", sans-serif;
}

h5,
.h5 {
  margin: var(--indent-s) 0 var(--indent-xs) 0;
  color: #212121;
  font: normal 700 var(--h5-size)/1.2 "Montserrat", sans-serif;
}

h6,
.h6 {
  color: #212121;
  font: normal 700 var(--text-size)/1.4 "Montserrat", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin: 0 0 20px 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: var(--indent-xs) 0 var(--indent-m) var(--indent-xs);
  padding: 0;
  list-style: none;
}

ul li,
ol li {
  position: relative;
}

ul li {
  padding-left: calc(var(--indent-3xs) + 4px);
}

ul li:before {
  content: '';
  position: absolute;
  top: 0.6em;
  left: 0;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #f50000;
}

ul li + li {
  margin-top: 8px;
}

ol {
  counter-reset: ordered-list;
}

ol li {
  padding-left: calc(var(--indent-3xs) + 1em);
}

ol li:before {
  content: counter(ordered-list) ".";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  counter-increment: ordered-list;
}

ol li + li {
  margin-top: 13px;
}

.ol-large {
  margin-left: 0;
}

.ol-large li:before {
  color: #212121;
}

.ol-large__title {
  margin-bottom: 6px;
  color: #212121;
  font-weight: 700;
  line-height: 1.4;
}

a {
  color: #212121;
  text-decoration: none;
  transition: 0.3s;
}

a[href*="tel"],
a[href*="mailto"] {
  font-weight: 700;
  white-space: nowrap;
}

a:hover {
  color: #f50000;
}

.link {
  color: #212121;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;
}

.link:hover {
  color: #f50000;
}

.link_accent {
  color: #f50000;
}

.link_accent:hover {
  color: #212121;
}

.link_underline-in-accent {
  color: #f50000;
  background-image: linear-gradient(90deg, currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 0% 1px;
  cursor: pointer;
  transition-property: background-size, color;
}

.link_underline-in-accent:hover {
  background-position: 0 100%;
  background-size: 100% 1px;
}

.table-wrap {
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  margin: var(--indent-s) 0 var(--indent-l) 0;
  border-collapse: collapse;
}

thead {
  background-color: #212121;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f1f3f3;
}

th,
td {
  padding: var(--indent-3xs) var(--indent-xs);
  text-align: left;
}

th {
  vertical-align: center;
}

td {
  vertical-align: baseline;
}

button {
  background-color: transparent;
  font: inherit;
}

input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  outline: none;
}

input::placeholder {
  color: inherit;
  font: inherit;
}

.container {
  width: 100%;
  max-width: var(--container);
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  max-width: var(--wrapper);
}

.inner-container {
  width: 100%;
  max-width: var(--inner-container);
}

.page__main {
  margin-bottom: auto;
}

.mb-4xl {
  margin-bottom: var(--indent-4xl);
}

.mb-3xl {
  margin-bottom: var(--indent-3xl);
}

.mb-2xl {
  margin-bottom: var(--indent-2xl);
}

.mb-xl {
  margin-bottom: var(--indent-xl);
}

.mb-l {
  margin-bottom: var(--indent-l);
}

.mb-m {
  margin-bottom: var(--indent-m);
}

.mb-s {
  margin-bottom: var(--indent-s);
}

.mb-xs {
  margin-bottom: var(--indent-xs);
}

.mb-2xs {
  margin-bottom: var(--indent-2xs);
}

.subtitle {
  margin-bottom: 50px;
  font-size: var(--subtitle-size);
}

.double-block {
  column-count: 2;
  column-gap: var(--indent-3xl);
}

.double-block > * {
  display: inline-block;
}

.info-block {
  position: relative;
  display: inline-block;
  padding: 0 0 5px 40px;
  color: #212121;
  font-size: 20px;
}

.info-block:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 10px;
  height: 100%;
  margin-right: 30px;
  background-color: #f50000;
}

.tile {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.tile__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.tile__item:nth-child(6n + 1),
.tile__item:nth-child(6n + 6) {
  grid-column: span 2;
}

.tile__item:nth-child(6n + 1) .tile__item-image,
.tile__item:nth-child(6n + 6) .tile__item-image {
  align-self: flex-end;
}

.tile__item-name {
  margin: 0 0 30px 0;
  color: inherit;
}

.tile__item-image {
  display: flex;
  justify-content: center;
}

.btn {
  position: relative;
  display: block;
  width: fit-content;
  padding: 20px 40px;
  overflow: hidden;
  z-index: 0;
  border: 1px solid #f50000;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f50000;
  z-index: -1;
  transition: 0.3s ease;
}

.btn:hover {
  color: #f50000;
}

.btn:hover:before {
  right: 0;
  left: auto;
  width: 0;
}

.btn_light {
  color: #f50000;
}

.btn_light:before {
  right: 0;
  left: auto;
  width: 0;
  background-color: #f50000;
}

.btn_light:hover {
  color: #fff;
}

.btn_light:hover:before {
  right: auto;
  left: 0;
  width: 100%;
}

.btn_medium {
  padding-right: 92px;
  padding-left: 92px;
}

.form {
  padding: var(--indent-2xl) var(--indent-3xl);
  border-radius: 10px;
  background-color: #f1f3f3;
  text-align: center;
}

.form__inner {
  max-width: var(--inner-container);
  margin: 0 auto;
}

.form__title {
  margin-top: 0;
  margin-bottom: var(--indent-s);
}

.form__subtitle {
  max-width: 630px;
  margin: 0 auto var(--indent-xl) auto;
}

.form__body {
  width: 100%;
}

.form__line {
  display: flex;
  justify-content: space-between;
}

.form-field {
  flex-basis: 100%;
  display: inline-block;
}

.form-field + .form-field {
  margin-left: var(--indent-m);
}

.form-field__inner {
  position: relative;
}

.form-field__inner:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #bdbdbd;
}

.form-field__inner:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: #212121;
  transition-property: width, background-color;
  transition: 0.3s linear;
}

.form-field__inner:hover:after,
.form-field__inner:focus-within:after {
  width: 100%;
}

.form-field.has-error .form-field__inner:after {
  width: 100%;
  background-color: #f50000;
}

.form-field__input {
  padding: 12px 20px;
}

.form .list-unstyled {
  margin: 0;
  color: #f50000;
  font-size: 14px;
}

.form .list-unstyled li {
  position: inherit;
  padding: 0;
  text-align: left;
}

.form .list-unstyled li::before {
  display: none;
}

.form__bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 35px;
}

.form__agree {
  max-width: 255px;
  margin-right: 50px;
  text-align: right;
  font-size: 14px;
}

.form__agree .link {
  font-weight: 400;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.cards-item__image {
  position: relative;
  padding-top: 100%;
  border-radius: 10px;
  background-color: #fff;
}

.cards-item__image-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px;
}

.cards-item__title {
  margin: var(--indent-xs) 0 0 0;
  color: inherit;
}

.cards-item__text {
  margin-top: var(--indent-xs);
}

.persons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--indent-3xl);
}

.persons-item {
  display: flex;
}

.persons-item__image {
  position: relative;
  flex-shrink: 0;
  padding: 8px 0 0 8px;
  margin-right: var(--indent-s);
}

.persons-item__image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: #f50000;
  z-index: -1;
}

.persons-item__image-inner {
  border-radius: 10px;
  overflow: hidden;
}

.persons-item__info {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
}

.persons-item__name {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
}

.persons-item__position {
  margin-top: var(--indent-3xs);
}

.persons-item__contacts {
  margin-top: var(--indent-s);
}

.persons-item__email {
  margin-top: var(--indent-3xs);
}

.breadcrumbs {
  margin: var(--indent-s) 0 var(--indent-m) 0;
  font-size: 14px;
}

.breadcrumbs__item {
  position: relative;
  color: #5e5e5e;
}

.breadcrumbs__item::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 11px;
  margin-right: var(--indent-3xs);
  background: url("/img/icons/arrow-left.svg") center no-repeat;
}

/* General - end */

/* Header */

.header {
  z-index: 10;
}

.header-top {
  font-size: 14px;
}

.header-top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo__text {
  max-width: 200px;
  margin-left: var(--indent-xs);
}

.header-phone {
  margin: 0 var(--indent-m);
  font-size: var(--text-size);
}

.header-phone__icon {
  display: none;
  line-height: 0;
  stroke: #f50000;
}

.header-producs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-producs__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: var(--indent-m);
}

.header-producs__item:last-child {
  margin-right: 0;
}

.header-producs__image {
  margin-right: 15px;
}

.header-burger {
  display: none;
}

.header-burger__line {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #212121;
  transition: 0.2s 0.2s linear, transform 0.2s 0s, opacity 0s 0.2s;
}

.header-burger__line:nth-child(1) {
  bottom: calc(100% - 3px);
  transform-origin: bottom left;
}

.header-burger__line:nth-child(2) {
  bottom: calc(50% - 1px);
}

.header-burger__line:nth-child(3) {
  bottom: 2px;
  transform-origin: bottom right;
}

.menu-is-open .header-burger__line {
  transition: 0.2s linear, transform 0.2s 0.2s, opacity 0s 0.2s;
}

.menu-is-open .header-burger__line:nth-child(1) {
  bottom: 2px;
  transform: rotate(-45deg) translate(3px, 2px);
}

.menu-is-open .header-burger__line:nth-child(2) {
  bottom: 2px;
  opacity: 0;
}

.menu-is-open .header-burger__line:nth-child(3) {
  bottom: 2px;
  transform: rotate(45deg) translate(-3px, 2px);
}

.header-bottom {
  background-color: #212121;
}

.menu-is-open .header-bottom {
  left: 0;
}

.header-bottom__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contacts {
  display: none;
}

.header-socials__item {
  margin-right: 17px;
}

.header-socials__item:last-child {
  margin-right: 0;
}

.header-socials__item svg {
  fill: #fff;
  transition: fill 0.2s linear;
}

.header-socials__item svg:hover {
  fill: rgba(255, 255, 255, 0.8);
}

.menu {
  display: flex;
  font-weight: 500;
}

.menu__item {
  position: relative;
  padding: 15px 30px;
}

.menu__item--hassubmenu {
  padding-right: 52px;
}

.menu__item--hassubmenu:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.menu__link {
  color: #fff;
}

.menu__item--hassubmenu .menu__link {
  position: relative;
}

.menu__item--hassubmenu .menu__link:after {
  content: '';
  position: absolute;
  top: 0.5em;
  left: calc(100% + 10px);
  display: block;
  width: 12px;
  height: 6px;
  background: url("/img/icons/arrow-down.svg") center no-repeat;
  pointer-events: none;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 222px;
  padding: var(--indent-s) var(--indent-l) var(--indent-s) var(--indent-s);
  background-color: #fff;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.14);
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition-property: z-index, visibility, opacity;
  transition-delay: 0.3s, 0.3s, 0s;
  transition-duration: 0s, 0.3s, 0.3s;
  transition-timing-function: linear;
}

.submenu-is-open .submenu {
  left: 0;
}

.menu__item:hover .submenu {
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s, 0s, 0s;
}

.submenu__item {
  margin-bottom: 17px;
  color: #5e5e5e;
}

.submenu__item:last-child {
  margin-bottom: 0;
}

.submenu__back {
  position: relative;
  padding: 20px 0 7px 0;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 400;
}

.submenu__back:before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 11px;
  margin-right: var(--indent-3xs);
  background: url(/img/icons/arrow-left.svg) center no-repeat;
}

/* Header - end */

/* Footer */

.footer {
  margin-top: var(--indent-4xl);
}

.footer-top__inner {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr;
  grid-template-areas: 'logo title-1 title-2 .' 'logo block-1 block-2 block-3' 'logo block-1 socials block-3';
  gap: var(--indent-s) var(--indent-l);
  align-items: flex-start;
  padding-bottom: var(--indent-l);
}

.footer-top__item:nth-child(1) {
  grid-area: logo;
}

.footer-top__item:nth-child(2) {
  grid-area: title-1;
}

.footer-top__item:nth-child(3) {
  grid-area: block-1;
}

.footer-top__item:nth-child(4) {
  grid-area: title-2;
}

.footer-top__item:nth-child(5) {
  grid-area: block-2;
}

.footer-top__item:nth-child(6) {
  grid-area: block-3;
}

.footer-top__item:nth-child(7) {
  grid-area: socials;
}

.footer-top__item--logo {
  filter: grayscale(100%);
}

.footer-title {
  font-weight: 500;
}

.footer-block--list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-block__item {
  margin-bottom: var(--indent-3xs);
}

.footer-block__item:last-child {
  margin-bottom: 0;
}

.footer-block--list .footer-block__item {
  margin-right: 20px;
}

.footer-block--list .footer-block__item:last-child {
  margin-right: 0;
}

.footer-block--list a {
  color: currentColor;
}

.footer-block--list a:hover {
  color: #f50000;
}

.footer-socials {
  display: flex;
}

.footer-socials__item {
  filter: grayscale(100%);
}

.footer-socials__item:hover {
  filter: grayscale(0);
}

.footer-socials__item + .footer-socials__item {
  margin-left: 17px;
}

.footer-bottom {
  color: #9e9e9e;
  font-size: 14px;
}

.footer-bottom__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 16px 0;
  border-top: 1px solid #f1f3f3;
}

.footer-bottom a {
  color: #9e9e9e;
}

.footer-bottom a:hover {
  color: #5e5e5e;
}

.footer-bottom__item:nth-child(2) {
  text-align: center;
}

.footer-bottom__item:last-child {
  text-align: right;
}

.footer-bottom__item--creator a {
  color: #5e5e5e;
}

.footer-bottom__item--creator a:hover {
  color: #f50000;
}

/* Footer - end */

/* Home page */

.home-products {
  padding: var(--indent-2xl) 0;
  background: #f1f3f3 url("../img/pattern.png") center/cover no-repeat;
}

.home-products__title {
  margin-top: 0;
}

/* Home page - end */

@media (max-width: 1279px) {
  :root {
    --container: 960px;
    --h1-size: 48px;
    --h2-size: 42px;
    --h3-size: 28px;
    --h4-size: 26px;
    --h5-size: 20px;
    --subtitle-size: 20px;
    --indent-4xl: 100px;
    --indent-3xl: 90px;
    --indent-2xl: 60px;
    --indent-xl: 50px;
    --indent-l: 40px;
    --indent-m: 24px;
    --indent-s: 20px;
    --indent-xs: 16px;
  }

  .double-block {
    column-gap: var(--indent-xl);
  }

  .tile {
    gap: 10px;
  }

  .cards {
    gap: 10px;
  }

  .header-producs__item {
    max-width: 160px;
  }

  .footer-top__inner {
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr;
  }
}

@media (max-width: 1023px) {
  :root {
    --container: calc(100vw - (30px * 2));
  }

  body {
    padding-top: var(--header-top-height);
  }

  .tile {
    grid-template-columns: repeat(2, 1fr);
  }

  .tile__item:nth-child(6n + 1),
  .tile__item:nth-child(6n + 6) {
    grid-column: inherit;
  }

  .tile__item:nth-child(6n + 1) .tile__item-image,
  .tile__item:nth-child(6n + 6) .tile__item-image {
    align-self: inherit;
  }

  .btn {
    padding: 13px 25px;
  }

  .form {
    padding: var(--indent-xl) var(--indent-2xl);
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .persons {
    gap: var(--indent-xl);
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #fff;
  }

  .header-top__inner {
    border-bottom: 1px solid #bdbdbd;
  }

  .header-phone {
    margin-left: auto;
  }

  .header-phone__icon {
    display: block;
  }

  .header-phone__number {
    display: none;
  }

  .header-producs__item {
    display: none;
  }

  .header-burger {
    display: block;
    width: 25px;
    height: 25px;
    padding: 3px;
  }

  .header-burger__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .header-bottom {
    position: fixed;
    top: var(--header-top-height);
    left: 100%;
    width: 100vw;
    height: calc(100vh - var(--header-top-height));
    display: flex;
    background-color: #fff;
    overflow-y: auto;
    transition: left 0.3s;
  }

  .header-bottom__inner {
    position: relative;
    flex-direction: column;
    align-items: inherit;
    min-height: 100%;
    padding: 0 0 55px 0;
  }

  .header-contacts {
    display: block;
    width: 100%;
  }

  .header-contacts__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0 25px 0;
    border-radius: 0;
  }

  .header-contacts__btn-icon {
    margin-right: 10px;
    stroke: #fff;
  }

  .header-contacts__phone {
    margin-bottom: 13px;
  }

  .header-contacts__address {
    margin-top: 16px;
  }

  .header-socials {
    margin: 60px auto 0 auto;
  }

  .header-socials__item svg {
    fill: #5e5e5e;
  }

  .menu {
    flex-direction: column;
    margin-bottom: auto;
    padding-top: 40px;
  }

  .menu__item {
    position: inherit;
    padding: 0;
  }

  .menu__link {
    display: inline-block;
    padding: 15px 0;
    color: #212121;
  }

  .menu__item--hassubmenu .menu__link:after {
    top: 50%;
    width: 6px;
    height: 12px;
    background-image: url("/img/icons/arrow-right.svg");
    transform: translateY(-50%);
  }

  .submenu {
    top: 0;
    left: 100vw;
    width: 100%;
    padding: 0;
    box-shadow: none;
    z-index: 1;
    visibility: visible;
    opacity: 1;
    transition: 0.2s linear 0s;
  }

  .menu__item:hover .submenu {
    transition-delay: 0s;
  }

  .submenu__item {
    margin: 0;
    padding: 15px 30px 15px 0;
    color: #212121;
  }
}

@media (max-width: 767px) {
  :root {
    --container: calc(100vw - (10px * 2));
    --text-size: 14px;
    --h1-size: 30px;
    --h2-size: 24px;
    --h3-size: 20px;
    --h4-size: 18px;
    --h5-size: 16px;
    --subtitle-size: 18px;
    --indent-4xl: 60px;
    --indent-3xl: 55px;
    --indent-2xl: 45px;
    --indent-xl: 40px;
    --indent-l: 20px;
    --indent-m: 18px;
    --indent-s: 16px;
    --indent-xs: 12px;
  }

  p {
    margin: 0 0 10px 0;
  }

  ul li + li {
    margin-top: 6px;
  }

  ol li + li {
    margin-top: 9px;
  }

  .ol-large li + li {
    margin-top: 20px;
  }

  .subtitle {
    margin-bottom: 30px;
  }

  .double-block {
    column-count: 1;
  }

  .info-block {
    padding-left: 34px;
    font-size: inherit;
  }

  .tile__item-name {
    margin-bottom: 23px;
  }

  .form {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    text-align: left;
  }

  .form:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 100vw;
    height: 100%;
    background-color: #f1f3f3;
    z-index: -1;
    transform: translateX(-50%);
  }

  .form__line {
    flex-direction: column;
  }

  .form-field + .form-field {
    margin: 28px 0 0 0;
  }

  .form__bottom {
    flex-direction: column;
  }

  .form__agree {
    margin: 0 0 20px 0;
    text-align: center;
  }

  .persons {
    grid-template-columns: 1fr;
  }

  .persons-item + .persons-item {
    margin-bottom: 30px;
  }

  .persons-item__info {
    padding: 8px 0 0 0;
  }

  .persons-item__name {
    font-size: 18px;
  }

  .persons-item__position {
    font-size: 16px;
  }

  .persons-item__contacts {
    margin-top: 20px;
    font-size: 16px;
  }

  .persons-item__email {
    margin-top: 6px;
  }

  .header-logo__image {
    max-width: 48px;
  }

  .footer-top__inner {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .footer-title {
    margin: 40px 0 20px 0;
  }

  .footer-block--list .footer-block__item {
    margin-right: 30px;
  }

  .footer-address {
    margin: 15px 0 20px 0;
  }

  .footer-bottom__inner {
    display: flex;
    flex-direction: column;
  }

  .footer-bottom__item {
    margin-bottom: 12px;
  }

  .footer-bottom__item:nth-child(2) {
    text-align: left;
  }

  .footer-bottom__item:last-child {
    margin-bottom: 0;
    text-align: left;
  }
}
/*# sourceMappingURL=maps/main.css.map */
